
   <footer>
            <div class="outerinfo">
          <div class="footerinfo">
            <div class="caption">
                EnglishIndia - INR &#x20B9;
            </div>
            <div class="tag"><i class="fa-brands fa-facebook"></i></div>
            <div class="tag"><i class="fa-brands fa-twitter"></i></div>
            <div class="tag"><i class="fa-brands fa-instagram"></i></div>
          </div>
        <div class="footerwraplinks">
            <a href="https://www.airbnb.co.in/terms" class="footerinfo">Terms</a>
            <a href="https://www.airbnb.co.in/privacy" class="footerinfo">Privacy</a>
            <a href="https://www.airbnb.co.in/sitemap" class="footerinfo">Sitemap</a>
        </div>
        
        
        
        </div>
        </footer>