.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 300px;
    background-color: whitesmoke;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #ff6b6b;
}
.form input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
*{
    margin: 0;padding: 0;
}
.form div{
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
}
body{
    background: linear-gradient(135deg, #ff6b6b 0%, #ffa94d 100%);
    font-family: poppins, sans-serif;
}
button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    cursor: pointer;
}
textarea{
    padding: 10px;
    border-radius: 10px;
    resize: none;
}
.form input:hover{
    transition: all 0.3s ease ;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}